body {
  font-size: 16px;
  background: url('../images/pink.jpg');
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-size: cover;
  background-attachment: fixed;
}

/** HEADER **/
#header-nav {
  background: url('../images/white.jpg');
  border-radius: 0px;
  padding: 0px;
  border: 0;
}

#logo-img {
  background: url('../images/lord_mahaveer_large.png') no-repeat;
  width: 120px;
  height: 120px;
  margin: 10px 15px 10px -60px;
}

.navbar-brand {
  padding-top: 50px;
}

.navbar-brand h1 { /* shop name */
  font-family: 'Lora', serif;
  color: #FB0205;
  font-size: 2.3em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 5px;
}

#nav-list a:hover {
  background: url('../images/brown.jpg');
}

#nav-list a span {
  font-size: 1.8em;
}

#nav-list a:hover {
  background: url('../images/brown.jpg');
}

#phone {
  margin-top: 5px;
}

#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  color: #0C2C97;
}

#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/lord_mahaveer_medium.png') no-repeat;
    width: 90px;
    height: 90px;
    margin: 5px 5px 5px -15px;
  }

  .navbar-brand {
    padding-top: 8px;
  }

  .navbar-brand h1 { /* shop name */
    padding-top: 10px;
    font-size: 1.5em; 
    margin-top: 20px;
  }

  #nav-list a span {
  font-size: 1.2em;
  }

  #phone {
  margin-top: -7px;
  }

  #phone a { /* Phone number */
  padding-bottom: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  color: #0C2C97;
  }

  #phone div { /* contact */
  color: #557c3e;
  padding-right: 15px;
  font-size: 0.6em;
  }
  /* End Header */
}

@media (min-width: 608px) and (max-width: 767px) {
  #header-nav {
  background: url('../images/white.jpg');
  border-radius: 0px;
  padding: 0px;
  border: 0;
  height: 70px;
  }

  #logo-img {
    background: url('../images/lord_mahaveer_small_medium.png') no-repeat;
    width: 60px;
    height: 60px;
    margin: 5px 5px 5px 8px;
  }

  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 { /* shop name */
    padding-top: 10px;
    font-size: 1.5em; 
    margin-left: 58px;
    margin-top: -62px;
  }
}

@media (min-width: 527px) and (max-width: 607px) {
  #header-nav {
  background: url('../images/white.jpg');
  border-radius: 0px;
  padding: 0px;
  border: 0;
  height: 70px;
  }

  #logo-img {
    background: url('../images/lord_mahaveer_small_medium.png') no-repeat;
    width: 60px;
    height: 60px;
    margin: 5px 5px 5px 8px;
  }

  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 { /* shop name */
    padding-top: 10px;
    font-size: 1.2em; 
    margin-left: 58px;
    margin-top: -62px;
  }
}

@media (min-width: 481px) and (max-width: 528px) {
  #header-nav {
  background: url('../images/white.jpg');
  border-radius: 0px;
  padding: 0px;
  border: 0;
  height: 70px;
  }

  #logo-img {
    background: url('../images/lord_mahaveer_small_medium.png') no-repeat;
    width: 60px;
    height: 60px;
    margin: 5px 5px 5px 8px;
  }

  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 { /* shop name */
    padding-top: 10px;
    font-size: 1.11em; 
    margin-left: 58px;
    margin-top: -62px;
  }
}
@media (min-width: 431px) and (max-width: 480px) {

  #header-nav {
  background: url('../images/white.jpg');
  border-radius: 0px;
  padding: 0px;
  border: 0;
  height: 60px;
  }

  #logo-img {
    background: url('../images/lord_mahaveer_small.png') no-repeat;
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 8px;
  }

  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 { /* shop name */
    padding-top: 10px;
    font-size: 0.99em; 
    margin-left: 50px;
    margin-top: -59px;
  }
}

@media (max-width: 430px) {
  #header-nav {
  background: url('../images/white.jpg');
  border-radius: 0px;
  padding: 0px;
  border: 0;
  height: 60px;
  }

  #logo-img {
    background: url('../images/lord_mahaveer_small.png') no-repeat;
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 8px;
  }

  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 { /* shop name */
    padding-top: 10px;
    font-size: 3.0vw; 
    margin-left: 50px;
    margin-top: -59px;
  }
}